<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> </key>
	<string>　</string>
	<key>!</key>
	<string>ｉ</string>
	<key>&quot;</key>
	<string>,,</string>
	<key>#</key>
	<string>＃</string>
	<key>$</key>
	<string>＄</string>
	<key>%</key>
	<string>％</string>
	<key>&amp;</key>
	<string></string>
	<key>&apos;</key>
	<string>，</string>
	<key>(</key>
	<string>）</string>
	<key>)</key>
	<string>（</string>
	<key>*</key>
	<string>＊</string>
	<key>+</key>
	<string>十</string>
	<key>,</key>
	<string>’</string>
	<key>-</key>
	<string>−</string>
	<key>.</key>
	<string>ﾟ</string>
	<key>/</key>
	<string>／</string>
	<key>0</key>
	<string>０</string>
	<key>1</key>
	<string>ｌ</string>
	<key>2</key>
	<string>て</string>
	<key>3</key>
	<string>∈</string>
	<key>4</key>
	<string>カ</string>
	<key>5</key>
	<string>⊆</string>
	<key>6</key>
	<string>９</string>
	<key>7</key>
	<string>∠</string>
	<key>8</key>
	<string>８</string>
	<key>9</key>
	<string>６</string>
	<key>:</key>
	<string>：</string>
	<key>;</key>
	<string>.&apos;</string>
	<key>&lt;</key>
	<string>＞</string>
	<key>=</key>
	<string>＝</string>
	<key>&gt;</key>
	<string>＜</string>
	<key>?</key>
	<string>¿</string>
	<key>@</key>
	<string></string>
	<key>[</key>
	<string>］</string>
	<key>\</key>
	<string>＼</string>
	<key>]</key>
	<string>［</string>
	<key>^</key>
	<string>ｖ</string>
	<key>_</key>
	<string>‾</string>
	<key>`</key>
	<string>、</string>
	<key>A</key>
	<string>∀</string>
	<key>a</key>
	<string>ｅ</string>
	<key>B</key>
	<string>ε|</string>
	<key>b</key>
	<string>ｑ</string>
	<key>C</key>
	<string>⊃</string>
	<key>c</key>
	<string>ɔ</string>
	<key>D</key>
	<string>(|</string>
	<key>d</key>
	<string>ｐ</string>
	<key>E</key>
	<string>∃</string>
	<key>e</key>
	<string>∂</string>
	<key>F</key>
	<string>土</string>
	<key>f</key>
	<string>ナ</string>
	<key>G</key>
	<string>ɘ</string>
	<key>g</key>
	<string>б</string>
	<key>H</key>
	<string>Ｈ</string>
	<key>h</key>
	<string>ч</string>
	<key>I</key>
	<string>Ｉ</string>
	<key>i</key>
	<string>！</string>
	<key>J</key>
	<string>∫</string>
	<key>j</key>
	<string>ç</string>
	<key>K</key>
	<string>＞|</string>
	<key>k</key>
	<string>&gt;|</string>
	<key>L</key>
	<string>７</string>
	<key>l</key>
	<string>１</string>
	<key>M</key>
	<string>Ш</string>
	<key>m</key>
	<string>ω</string>
	<key>N</key>
	<string>Ｎ</string>
	<key>n</key>
	<string>ｕ</string>
	<key>O</key>
	<string>Ｏ</string>
	<key>o</key>
	<string>ｏ</string>
	<key>P</key>
	<string>c|</string>
	<key>p</key>
	<string>ｄ</string>
	<key>Q</key>
	<string>Ò</string>
	<key>q</key>
	<string>ｂ</string>
	<key>R</key>
	<string>と|</string>
	<key>r</key>
	<string>ﾉ|</string>
	<key>S</key>
	<string>Ｓ</string>
	<key>s</key>
	<string>ｓ</string>
	<key>T</key>
	<string>⊥</string>
	<key>t</key>
	<string>＋</string>
	<key>U</key>
	<string>∩</string>
	<key>u</key>
	<string>ｎ</string>
	<key>V</key>
	<string>∧</string>
	<key>v</key>
	<string>＾</string>
	<key>W</key>
	<string>Ｍ</string>
	<key>w</key>
	<string>ｍ</string>
	<key>X</key>
	<string>Ｘ</string>
	<key>x</key>
	<string>ｘ</string>
	<key>Y</key>
	<string>人</string>
	<key>y</key>
	<string>ｈ</string>
	<key>Z</key>
	<string>Ｚ</string>
	<key>z</key>
	<string>ｚ</string>
	<key>{</key>
	<string>｝</string>
	<key>|</key>
	<string>｜</string>
	<key>}</key>
	<string>｛</string>
	<key>~</key>
	<string>〜</string>
</dict>
</plist>
